<ion-view view-title="Amiibos">
    <ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-ios-search-strong placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="vm.searchField">
			</label>
		</div>

		<div class="list list-inset">
			<label class="item item-input item-select">
				<div class="input-label">
					Order By:
				</div>
				<select ng-model="vm.orderByField">
					<option value="-release_date" selected="true">Release Date</option>
					<option value="name">Name</option>
				</select>
			</label>
		</div>

		<div class="grid-container" ng-cloak>
			<div class="amiibo-container grid-33 mobile-grid-33" ng-repeat="amiibo in vm.amiibos
					| filter: { name: vm.searchField } 
					| orderBy: vm.orderByField" >
				
				<img ng-src="/img/amiibos/{{amiibo.id}}.png" 
					on-tap="vm.goToDetails( amiibo );"
					on-hold="vm.checkmark( amiibo );" 
					width="100%">
				
				<i class="icon ion-checkmark-circled" ng-if="vm.collection.get( amiibo.id )"></i>	
			</div>	
		</div>	
	</ion-content>
</ion-view>